[Unit]
Description=Radio to podcast service

[Service]
ExecStart=/usr/bin/java -jar black-0.0.1-SNAPSHOT.jar
User=
WorkingDirectory=
Type=simple

[Install]
WantedBy=multi-user.target
